/* container for nav bar */
.container{
    width: 90%;
    margin: 0 auto;
}

/* Nav bar color */
header{
    background: #d4d7c4;
    border-radius: 9px;
}

/* float fix for nav bar */
.fixfloat ::after{
    content: '';
    display: table;
    clear: both;
}

/* floats navigation to the right */
nav{
    float: right;
}

/* Styles nav ul */
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Positions nav li */
nav li{
    display: inline-block;
    margin-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
}

/* styles nav links */
nav a{
    color: #868f74;
    text-decoration: none;
    font-family: 'Handlee', cursive;
    /*text-transform: uppercase;*/
    font-weight: 600;
    font-size: 17px;
}

/* Gives nav links darker color when hovering over */
nav a:hover{
    color: #79816a;
}

/* Styles bar animation over nav links */
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #868f74;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

/* Shows bar animation when hovering over nav links*/
nav a:hover::before{
    width: 100%;
}



/* Styles head of website */
head{
    background: #f6f9fa;
}

/* Styles body of website */
body{
    background: #f6f9fa;
}

/* Styles headers 1 */
h1 {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 46px;
    color: #8496a2;
}

/* Styles headers 3 */
h3 {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    text-align: center;
}

/* Styles paragraphs in general */
p {
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 18px;
    color: #687a86;
}

/* Styles all buttons */
button {
    font-family: 'Handlee', cursive;
    font-weight: 600;
    font-style: italic;
    color: #8496a2;
}

/* Styles all Inputs */
input {
    font-family: 'Handlee', cursive;
    font-size: 14px;
    color: #79816a;
}



/* Places content for Calculators page */
.calculator-content {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    column-gap: 5px;
}


/* Styles the Scientific Calculator */
.sci-cal {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    font-size: 18px;
}

/* Places the scientific calculator to the right */
.scical-rows {
    grid-column-start: 2;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3px;

    background: #dde0cc;
    border-radius: 16px;
    padding: 8px;
}

/* Styles the inputs for the scientific calculator buttons */
.scical-rows input {
    background: #b3c1b7da;
    border: 1px solid #fffdf6;
    border-radius: 16px;
    color: #6c745f;
}

/* Creates grid for row 1 of sci. calculator*/
.scical-row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Styles input to span 1 through 4 of the 
5 spaces in the grid */
.scical-row1 #sciCalResults {
    grid-column-start: 1;
    grid-column-end: 5;
}

/* Creates grid for row 2 of sci. calculator*/
.scical-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 3 of sci. calculator*/
.scical-row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 4 of sci. calculator*/
.scical-row4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 5 of sci. calculator*/
.scical-row5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 6 of sci. calculator*/
.scical-row6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 7 of sci. calculator*/
.scical-row7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}



/* Styles the simple calculator*/
.simple-cal {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

/* Sizes the text next to the simple calculator */
.simple-cal p {
    font-size: 16px;
}

/* Creates the rows/row spacing for the simple 
calculator */
.calrows {
    width: 85%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3px;

    background-color: #e2d4e0;
    border-radius: 16px;
    padding: 8px;
}

/* Styles the inputs for the simple calculator buttons */
.calrows input{
    background: #949ab1c4;
    border: 1px solid #fffdf6;
    border-radius: 16px;
    color: #4c5372;
}

/* Creates grid for row 1 of simple 
calculator */
.calrow1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Styles input to span 1 through 3 of the 
4 spaces in the grid */
.calrow1 input[type=text] {
    grid-column-start: 1;
    grid-column-end: span 3;
}

/* Creates grid for row 2 of simple
calculator */
.calrow2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 3 of simple
calculator */
.calrow3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 4 of simple
calculator */
.calrow4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}

/* Creates grid for row 5 of simple
calculator */
.calrow5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3px;
}