/* container for nav bar */
.container{
    width: 90%;
    margin: 0 auto;
}

/* Nav bar color */
header{
    background: #d4d7c4;
    border-radius: 9px;
}

/* float fix for nav bar */
.fixfloat ::after{
    content: '';
    display: table;
    clear: both;
}

/* floats navigation to the right */
nav{
    float: right;
}

/* Styles nav ul */
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Positions nav li */
nav li{
    display: inline-block;
    margin-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
}

/* styles nav links */
nav a{
    color: #868f74;
    text-decoration: none;
    font-family: 'Handlee', cursive;
    /*text-transform: uppercase;*/
    font-weight: 600;
    font-size: 17px;
}

/* Gives nav links darker color when hovering over */
nav a:hover{
    color: #79816a;
}

/* Styles bar animation over nav links */
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #868f74;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

/* Shows bar animation when hovering over nav links*/
nav a:hover::before{
    width: 100%;
}



/* Styles head of website */
head{
    background: #f6f9fa;
}

/* Styles body of website */
body{
    background: #f6f9fa;
}

/* Styles headers 1 */
h1 {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 46px;
    color: #8496a2;
}

/* Styles headers 3 */
h3 {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    text-align: center;
}

/* Styles paragraphs in general */
p {
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 18px;
    color: #687a86;
}

/* Styles all buttons */
button {
    font-family: 'Handlee', cursive;
    font-weight: 600;
    font-style: italic;
    color: #8496a2;
}

/* Styles all Inputs */
input {
    font-family: 'Handlee', cursive;
    font-size: 14px;
    color: #79816a;
}



/* Positions Tasklist Project & text to the center */
.tasklist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;

    text-align: center;
}

/* Styles Task project content & positions it */
.list-content {
    grid-column-start: 2;
  
    background: #839fb183;
    border-radius: 14px;
    padding: 10px;
    padding-bottom: 14px;
}

/* Styles the title for Task List */
.list-content h3 {
    font-size: 37.5px;
    margin: 10px;

    color: #687a86;
}

/* Styles the Task input */
#form input {
    border-style: hidden;
    border-radius: 6px;
    padding: 2px;

    background-color: #f6f9fa;

    font-size: 18px;
}

/* Styles the task list & positions it */
.tasks {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Styles tasks on Task list */
.tasks li {
    margin: auto;
    margin-top: 12px;
    width: 70%;

    background: #e8e9dfdc;
    color: #687a86;

    border-radius: 8px;
    padding: 4px;

    font-size: 17px;
    font-family: 'Handlee', cursive;
    font-style: italic;
    font-weight: 600;
}

/* Styles completed Tasks */
.tasks li.completed {
    text-decoration: line-through;

    background:  #eff0e7;
    color: #839fb183;
}